# Ignore credentials
code/gsheet-creds.json

# Ignore temporary or notebook checkpoint files
*.ipynb_checkpoints/


# Ignore everything in data/
data/*
secret/*
output/* 
logs/*


# Ignore compiled objects
*.rds
*.so
*.dll
R/4.2/
.Rproj.user
mod-annotation.Rproj
