# Ignore credentials
code/gsheet-creds.json

# Ignore data folder
data/

# Ignore temporary or notebook checkpoint files
*.ipynb_checkpoints/

# Ignore these folders too
slurm/*
logs/*
download_logs/

